:root {
    --white-color: #d8cbbbee;
    --black-color: #000;
    --text-color: #3f3631;
    --brown-color:#91816a;
    --primary-color:#554c48;
}
*{box-sizing: inherit;}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
/* Responsive */
.grid {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}
.grid__row {
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.grid__column-1-4 {
    padding-left: 20px;
    padding-right: 20px;
    width: 25%;
}
.grid__column-2-4 {
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
}
.btn{
    background-color: var(--primary-color);
    color: var(--white-color); 
    border-radius: 3px;
    cursor: pointer;
    transition: linear 0.1s;
}
.btn:hover{
    transform: scale(1.01);
    box-shadow: 0 1px 10px var(--primary-color);
}
.btn .navbar-list__item-link{
    background-color: var(--primary-color);
    color: var(--white-color); 
    border-radius: 3px;
}
/* Animation */
@keyframes Growth{
    from {
        opacity: 0.5;
        width: 0;
    }
    to{
        opacity: 1;
        width: var(--percent);
    }
}

@keyframes Raise{
    from {
        opacity: 0.5;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.checkout-sum__price.checkout-sum__price--active span{
    color: #9ecd50;
}
.pagination-item.pagination-item--active{
    background-color: #ccc;
    border-radius: 4px;
}
.pagination-item.pagination-item--disable a{
    cursor: default;
    opacity: 0.3;
}
/* Section Heading */
.section-heading{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.section-heading__head{
    margin: 0 auto;
    max-width: 420px;
    color: var(--text-color);
    font-size: 3rem;
    font-family:cursive, Arial, Helvetica, sans-serif;
    line-height: 3.5rem;
}
.section-heading__text{
    margin: auto;
    color: var(--brown-color);
    font-size: 1.8rem;
    padding-top: 12px;
    font-family:cursive, Arial, Helvetica, sans-serif;

}
.section-heading__text::before{
    width: 32px;
    content: "";
    display: block;
    border-top: 2px solid var(--brown-color);
    margin: auto;
    padding-bottom: 12px;
}

/* Background color */
.main,.video,.review{
    background-color: var(--white-color);
    padding: 65px 0 15px 0;
}
.inform,.order,.FAQ{
    padding: 65px 0 15px 0;
}
.footer{
    background-color: var(--primary-color);
    padding: 65px 0 15px 0;
}