.top-background{
    background-image:linear-gradient(0, #ddac6b, #d3a05d);
    padding-bottom: 50px ;
}
.header{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
    background-color: #d3a05d;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.header__logo-link{
    display: flex;
    align-items: center;
}
.header__logo-img{
    height: 39px;
}
.navbar{
    display: flex;
}
.navbar-list{
    display:flex;
    margin-top: auto;
    margin-bottom: auto;
}
.navbar-list__item{
    margin:0 16px;
}
.navbar-list__item:hover .navbar-list__item-link{
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: scale(1.05);
    border-radius: 3px;
}
.navbar-list__item-link{
    font-size: 1.6rem;
    text-decoration: none;
    color:var(--text-color);
    font-weight: 600;
    padding: 8px;
}

/* Slide */
.slide-view{
    margin-top: 50px;
    width: 100%;
    padding-top: 50%;
    position: relative;
}
.slide-background{
    width: 60%;
    padding-top: 45%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 60px;
    right:0;
}
.slide-background__child{
    width: 60%;
    padding-top: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -30px;
    left: -205px;
}

.slide-content{
    width: 35%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 40px;

}
.slide-content__text{
    line-height: 4.5rem;
    font-size: 3rem;
    color: var(--white-color);
}
.slide-content__text span{
    font-size: 5rem;
    font-weight: 500;
}
.slide-content__btn{
    margin:16px 0;
    text-decoration: none;
    text-align: center;
    padding: 16px 22px ;
    font-size: 1.6rem;
    max-width: 240px;
    cursor: pointer;
}

/* main */
.rate-container{
    display: flex;
    justify-content: space-evenly;
}
.rate-image{
    width: 50%;
    display: flex;
}
.product-img{
    margin: auto;
    width: 73%;
    padding-top: 80%;
    background-size: contain;
    background-repeat: no-repeat;
}
.rate-group{
    width: 35%;
    display: flex;
    margin: auto;
}
.rate-group__vote{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content:center;
}
.rate-group__vote span{
    font-size: 3rem;
    color: var(--text-color);
}
.rate-group__vote h4,
.rate-group__vote-star{
    font-size: 2rem;
    color: var(--brown-color);
    margin-top: 16px;
}
.rate-group__vote h3{
    margin-top: 80px !important;
    font-size: 3rem;
    line-height: 4rem;
    color: var(--brown-color);
    margin-top: 16px;
}
.info-container{
    display: flex;
    justify-content: space-evenly;
    padding: 0 28px;
    margin-bottom: 50px;
}
.info_group{
    width: 30%;
    text-align: center;
    margin-top: 40px;
}
.info-content{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--brown-color);
    margin: 8px;
}
.info-heading{
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 8px;   
}
.info-icon{
    font-size: 1.8rem;
    color: var(--brown-color);
    margin: 4px;
}
/* Order */
.order-layout{
    padding:0 100px;
    box-sizing: border-box;
}
.order-body{
    margin: 50px 0;
    display: flex;
}
.product{
    padding-top: 16px;
    padding-bottom: 16px;
}
.product-group{
    display: flex;
}
.product-item{
    text-align: center;
    border-radius: 3px;
    margin-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
    width: 50%;
}
.product-item__link{
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
    background-color: var(--white-color);
    text-decoration:none;
    border-radius: 4px;
}
.product-item__img{
    margin: auto;
    width: 80%;
    padding-top: 88%;
    background-size: contain;
    background-repeat: no-repeat;
}
.product-item__name{
    color: var(--text-color);
    font-size: 1.8rem;
    padding-top: 12px;
    
}
.product-item__qtt{
    color: var(--brown-color);
    font-size: 1.6rem;
    padding-top: 12px;
}
.product-item__qtt-icon{
    padding: 1px 2px;
    border: 1px solid #fd9d20;
    border-radius: 11px;
    margin: 0 8px;
    cursor: pointer;
    color: #fd9d20;
}
/* checkout */
.checkout{
    padding-top: 16px;
    padding-bottom: 16px;
}
.checkout-sum,
.checkout-total__text{
    font-size: 1.8rem;
    color: var(--text-color);
    margin: 16px 0;
    font-weight: bold;

}
.checkout-sum__body-item,
.checkout-total{
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkout-total{
    border-top: 3px solid var(--white-color);
}
.checkout-sum__qtt{
    font-size: 1.6rem;
    color: var(--brown-color);
}
.checkout-sum__price,
.checkout-total__price{
    display: flex;
    font-size: 1.8rem;
    color: var(--brown-color);
}
.checkout-sum__price span{
    display: block;
    margin-left: 12px;
}
.checkout-total__price span{
    display: block;
    margin-left: 12px;
    color: var(--text-color);
    font-weight: bold;
}
.checkout-sum__price h4,
.checkout-total__price h4{
    display: block;
    color: #ccc;
    text-decoration:line-through;
}
.checkout-notify{
    background-color: var(--white-color);
    margin-top: 24px;
    padding: 16px 24px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: var(--text-color);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.checkout-notify span{
    font-weight: bold;
}
.checkout-btn{
    padding: 16px 0;
    text-align: center;
    font-size: 1.8rem;
    color: var(--white-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.checkout-notice{
    text-align: center;
    margin-top: 50px;
}
.checkout-notice__icon{
    font-size: 1.8rem;
    color: var(--brown-color);
}
.checkout-notice__content{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-top: 12px;
}
.checkout-notice__descript{
    font-size: 1.4rem;
    color: var(--brown-color);
    margin-top: 12px;
    line-height: 1.8rem;

}
/* VIDEO */
.video-body{
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
}
.video-body__item{
    width: 30%;
}
.video-body__item-link{
    width: 100%;
    padding-top: 68%;
    background-size: contain;
    background-repeat:no-repeat;
    border-radius: 3px;
    cursor: pointer;
    transition: linear 0.15s;
    
}
.video-body__item-link:hover{
    transform: scale(1.01);
    box-shadow: 0 1px 10px var(--primary-color);
}

.video-body__item-name{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 12px;
    cursor: pointer;

}
.video-body__item-descript{
    font-size: 1.4rem;
    color: var(--brown-color);
    margin-top: 8px;
    line-height: 1.8rem;
}

/* INFORM */
.inform-body{
    margin: 50px 0;
}
.inform-body__product{
    display: flex;
    justify-content: space-around;
}
.inform-product-item{
    text-align: center;
    border-radius: 3px;
    margin-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
    width: 25%;
    position: relative;
}
.inform-product-item:hover .inform-product-item__link{
    transform: scale(1.05);
}

.inform-product-item__link{
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    background-color: var(--white-color);
    text-decoration:none;
    border-radius: 4px;
    transition: linear 0.15s;
}
.inform-product-item__img{
    margin: auto;
    width: 80%;
    padding-top: 88%;
    background-size: contain;
    background-repeat: no-repeat;
}
.inform-product-item__name{
    color: var(--text-color);
    font-size: 1.8rem;
    padding-top: 12px;
}

.inform-product-item__ingredient{
    display: flex;
}
.ingredient-list-1{
    text-align: center;
    position: absolute;
    top: 0;
    left:23px;
    display: none;
    transform-origin:top right;
    animation: Raise linear 0.2s;
}
.ingredient-list-2{
    text-align: center;
    position: absolute;
    top: 0;
    right:23px;
    display: none;
    transform-origin: top left;
    animation: Raise linear 0.3s;
}
.inform-product-item:hover .ingredient-list-1{
    left: -90px;
    display: block;
}
.inform-product-item:hover .ingredient-list-2{
    right: -64px;
    display: block;
}
.ingredient-list__item{
    padding: 6px;
    border-radius: 4px;
    color: #fd625b;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 28px 0;
    background-color: var(--white-color);
    box-shadow: 0 1px 12px var(--brown-color);

}

.inform-body__certified{
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.inform-certified-item{
    width: 22%;
    text-align: center;
    
}
.inform-certified__icon {
    font-size: 2rem;
    color: var(--brown-color);
    background-color: var(--white-color);
    padding: 12px;
    border-radius: 26px;

}
.inform-certified__content{
    margin-top: 16px;
    font-size: 1.8rem;
    color: var(--brown-color);
}
.inform-body__trial{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.inform-trial__btn{
    padding: 16px 0;
    font-size: 1.8rem;
    color: var(--white-color);
    text-align: center;
}
.inform-trial__content{
    margin: 24px 24px 0 24px;
    text-align: center;
}
.inform-trial__text{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--brown-color);
    margin: 8px;
}
.inform-trial__heading{
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 8px;
}
/* REVIEW */
.review-body{
    margin: 50px;
}
.review-rate{
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;

}
.review-rate__chart{
    width: 42%;
    display: flex;
    flex-direction: column;
}
.review-rate__chart-group{
    margin: 6px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.review-rate__chart-level{
    width: 20%;
    font-size: 1.6rem;
    color: var(--brown-color);
    text-align: center;
}
.review-rate__chart-barfull{
    width: 70%;
    background-color: #ccc;
    height: 1.4rem;
    border-radius: 3px;
}
.review-rate__chart-bar{
    background-color: var(--primary-color);
    height: 1.4rem;
    width: var(--percent);
    border-radius: 3px;
    animation: Growth linear 1s;
}

.review__write-btn{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    width: 30%;
    color: var(--brown-color);
    border: 1px solid var(--brown-color);
    font-size: 1.8rem;
    padding: 12px ;
    cursor: pointer;
    border-radius: 4px;
}
.review__write-btn:hover{
    color: var(--primary-color);
    transform: scale(1.01);
}
.review__filter-btn{
    padding: 8px;
    margin: 0 auto;
    width: 15%;
    font-size: 1.8rem;
    color: var(--text-color);
    cursor: pointer;
    position: relative;
}
.review__filter-btn:hover .review__filter-rolldown{
    display: block;
}
.review__filter-rolldown{
    width: 120px;
    top: 110%;
    right: 0px;
    position: absolute;
    background-color: var(--white-color);
    box-shadow: 2px 3px 10px var(--primary-color);
    z-index: 1;
    border-radius: 4px;
    transform-origin:top;
    animation: Raise linear 0.2s;
    display: none;
}
.review__filter-rolldown::before{
    content: "";
    display: block;
    height: 8px;
    width: 120px;
    position: absolute;
    top: -8px;
    left: 0;
}

.review__filter-selection{
    padding: 6px 16px;
}
.review__filter-selection:hover{
    background-color: #ccc;
}
.review__filter-link{
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--primary-color);

}


.review-comment__list-item{
    padding: 24px 0;
    border-bottom: 1px solid #ccc;
}
.review-comment__list-item:last-child{
    border-bottom: none;
}
.review-comment__star{
    font-size: 1.6rem;
    color: var(--brown-color);
}
.review-comment__sub{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-color);
    margin: 8px 0;
}
.review-comment__text{
    font-size: 1.6rem;
    color: var(--text-color);
}
.review-comment__person{
    display: flex;
    margin: 4px 4px;
    align-items: center;
    position: relative;
}
.review-comment__person span{
    padding: 4px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 9px;
    position: absolute;
    bottom: 0;
    left: 24px;
}
.review-comment__person-avt{
    font-size: 1.5rem;
    color: var(--brown-color);
    padding: 14px;
    border-radius: 20px;
    background-color: #ccc;
}
.review-comment__person-info{
    margin: 0 12px;
}
.review-comment__person-name,
.review-comment__person-time{
    font-size: 1.4rem;
    color: rgb(158, 158, 158);
    margin: 8px 0;
}

.review-comment__pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
}
.pagination-item__link{
    display: block;
    color: var(--text-color);
    font-size: 2rem;
    text-decoration: none;
    padding: 6px;
    margin: 0 8px;
    font-family: cursive,Arial, Helvetica, sans-serif;
}
.pagination-item__icon{
    color: var(--text-color);
    font-size: 1.6rem;
    text-decoration: none;
    margin: 0 8px;
}
/* FAQ */
.FAQ-body{
    margin: 50px 10px;
    display: flex;
}
.FAQ-list__item{
    margin: 40px 20px;
    padding-bottom: 24px;
    border-bottom: 2px solid var(--white-color);
}
.FAQ-list__item:last-child{
    border-bottom: none;
}
.FAQ-list__item-heading{
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 8px;
}
.FAQ-list__item-content{
    font-size: 1.6rem;
    color:var(--brown-color);
}

.FAQ-call{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.FAQ-call__header{
    text-align: center;
    width: 100%;
    margin: 24px 0;
}
.FAQ-call__header-heading{
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 12px;
}
.FAQ-call__header-content{
    font-size: 1.6rem;
    color:var(--brown-color);
}
.FAQ-call__header-content span{
    font-weight: bold;
}
/* FOOTER */
.footer-container{
    margin: 0 50px 50px 50px;
    display: flex;
    border-bottom: 1px solid var(--brown-color);
}
.footer-list{
    margin: 0 40px;
}
.footer-list__item{
    margin-bottom: 32px;
}
.footer-list__item-heading{
    width: 85%;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--white-color);
}
.footer-list__item-text{
    display: block;
    font-size: 1.4rem;
    line-height:2rem;
    color: var(--brown-color);
    margin: 8px 0;
    text-decoration: none;
}
.footer-list__item-icon{
    font-size: 2.5rem;
    color: var(--brown-color);
    margin: 8px 8px 0 0;
    cursor: pointer;
}
.footer-list__item-icon:hover{
    opacity: 0.7;
}
.footer-list__item-payment{
    background-color: var(--white-color);
    width: 50%;
    padding-top: 7%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.footer-group{
    width: 70%;
    margin: 40px 0;
}
.footer__form{
    position: relative;
    display: block;
}
.footer__input-row{
    width: 95%;
    border: 2px solid var(--brown-color);
    height: 40px;
    border-radius: 4px;
    margin: 16px 0;
}
.footer__input-input{
    padding: 8px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-style: none;
    outline: none;
    color: var(--white-color);
}
.footer__input-btn{
    display: block;
    margin-bottom: 8px;
    width: 95%;
    height: 40px;
    background-color:var(--white-color);
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--text-color);
}
.footer__input-btn:hover{
    transform: scale(1.01);
}
